* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f5f9;
}
.form{
    width: 90%;
    max-width: 550px;
    padding: 25px 20px 20px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.form h1{
    text-align: center;
    font-size: 30px;
}
.form input{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.form button{
    width: 50%;
    max-width: 200px;
    min-height: 45px;
    border-radius: 10px;
    background-color: #4facfe;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form button:hover{
    transform: translateY(-3px);
}

.card{
    width: 90%;
    min-width: 300px;
    max-width: fit-content;
    padding:70px 20px 20px 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}
.card-avt{
    position: absolute;
    width: 30%;
    max-width: 80px;
    min-height: 80px;
    aspect-ratio: 1 / 1;
    background-color: #4facfe;
    top: -15%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.card h1{
    font-size: 30px;
}
.card-content{
    width: 100%;
    min-height: 50px;
    background-color: #f1f5f9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.card-content img{
    width: 25px;
    height: 25px;
}
.card-content-text{
    font-size: 20px;
    font-weight: 500;
}